body {
    background-image: url('../images/diamonds.png')
}

header {
    background-color: cyan;
    height: 100px;
    margin-top: 20px;
    padding-top: 25px;
    border: #92A8D1 3px ridge;
}

.row {
    margin-top: 10px;
}

.instructions {
    background-color: rgb(235, 234, 178);
    padding: 5px;
    color: #266852;
    border: #92A8D1 3px ridge;
}

.hide-instructions, .show-instructions {
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

.rand-number-box {
    background-color: #F7CAC9;
    border: #92A8D1 3px ridge;
}

#random-number {
    position: absolute;
    width: 90%;
    left: 5%;
    border-top: 1px #92A8D1 inset;
    color: black;
    text-align: center; 
}

.wins-losses {
    background-color: #D65076;
    border: #92A8D1 3px ridge;
}

.score-box {
    background-color: #92A8D1;
    border: #92A8D1 3px ridge;
}

#score-counter {
    position: absolute;
    width: 90%;
    left: 5%;
    border-top: 1px #92A8D1 inset;
    color: black;    
    text-align: center;
}


.crystal {
 background-color: #ffffff;
} 

.btn {
    background-color: rgba(204, 201, 201, 0.89);
    border: #92A8D1 3px ridge;
}

.btn:disabled {
    background-color: rgba(204, 201, 201, 0.89);
    border: #92A8D1 3px ridge;
}

@media screen and (max-width: 780px) {
    .rand-number-box, .wins-losses, .score-box {
        width: 33.333%;
        height: 120px;
    }

    .wins-losses {
        padding-top: 20px;
        padding-left: 40px;
    }
    #random-number, #score-counter {
        text-align: center;
        padding-top: 3px;
    }
    img {
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 530px) {
    h3, h4, #win-counter, #loss-counter, .rand-number-box, .wins-losses, .score-box {
        font-size: 18px;
    }
    #random-number, #score-counter {
        padding-top: 14px;
        
    }
    .wins-losses {
        padding-left: 20px;
        padding-top: 25px;
    }
    .crystal {
        width: 50%;
    }

}